<!doctype html>
{% load static %}
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>SAYA Salon-At-Your-Abode</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'manager/img/favicon.png' %}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'manager/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/counters.css' %}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
   
    {%block body %}
    {% endblock %}

    {% block script %}

    {% endblock %}
</body>


</html>