<!doctype html>
{% load static %}
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Salon at home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'manager/img/favicon.png' %}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'manager/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/counters.css' %}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center no-gutters">
                        <div class="col-xl-3 col-lg-3">
                            <div class="logo-img">
                                <a href="#">
                                    <img src="{% static 'manager/img/logo.png'%}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="book_room">

                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- slider_area_start -->
    {%block body %}
    {% endblock %}

    <!-- footer -->
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">

                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This webapp
                            is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#"
                                target="_blank">ITESS</a>
                            <br>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                            template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                                href="https://colorlib.com" target="_blank">Colorlib</a>

                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>


    <!-- footer -->
    <!-- link that opens popup -->

    <!-- form itself end-->

    <!-- form itself end -->

    <!-- JS here -->
    <script src="{% static 'manager/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'manager/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'manager/js/popper.min.js' %}"></script>
    <script src="{% static 'manager/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'manager/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'manager/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'manager/js/ajax-form.js' %}"></script>
    <script src="{% static 'manager/js/waypoints.min.js' %}"></script>
    <script src="{% static 'manager/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'manager/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'manager/js/scrollIt.js' %}"></script>
    <script src="{% static 'manager/js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'manager/js/wow.min.js' %}"></script>
    <script src="{% static 'manager/js/nice-select.min.js' %}"></script>
    <script src="{% static 'manager/js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'manager/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'manager/js/plugins.js' %}"></script>
    <script src="{% static 'manager/js/gijgo.min.js' %}"></script>

    <!--contact js-->
    <script src="{% static 'manager/js/contact.js' %}"></script>
    <script src="{% static 'manager/js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'manager/js/jquery.form.js' %}"></script>
    <script src="{% static 'manager/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'manager/js/mail-script.js' %}"></script>

    <script src="{% static 'manager/js/main.js' %}"></script>
    <script>



        $('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            disableDaysOfWeek: [0, 0],
            //     icons: {
            //      rightIcon: '<span class="fa fa-caret-down"></span>'
            //  }
        });
        $('#datepicker2').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-caret-down"></span>'
            }

        });
        var timepicker = $('#timepicker').timepicker({
            format: 'HH.MM'
        });
    </script>
    {% block script %}

    {% endblock %}
</body>


</html>