{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="bradcam_area breadcam_bg overlay2">
    <div class="popup_box ">
        <div class="popup_inner">
            <h3>Forget Password</h3>
            <form action="forgotPassword" method="post">
                <div class="row">
                    {% csrf_token%}
                    <p class="h6 mb-3 font-weight-normal mt-2 text-danger">  {{msg}} </p>
                    <div class="col-xl-12">

                        <input type="email" class="form-input" name="email" id="email" placeholder="Email" autofocus required>
                        <select class="form-select wide" class="form-input" id="default-select" class="" name="category" autofocus required>
                            <option value="">Category<p class="h6 mb-3 font-weight-normal mt-2 text-danger">*</p></option>
                            <option value="User">User</option>
                            <option value="Master">Master</option>
                            <option value="Manager">Manager</option>
                        </select>
                        <hr>

                    </div>
                </div>
                <div class="col-xl-12">
                    <button type="submit" class="boxed-btn3">Reset Password</button>
                </div>
            </form>
            <div class="col-xl-12">
                <hr>
                or
                <hr>
                <a href="/signup">
                    <button type="" class="boxed-btn3">Login</button>
                </a>
            </div>
        </div>

    </div>
</div>
{% endblock %}