{% extends 'Mbase.html' %}
{% load static %}
{% block body %}
<div class="service_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title3 padding_plus text-center mb-90">
                    <h3>Add Master</h3>
                </div>
            </div>
        </div>
        <div class="white_bg_pos">
            <div class="col-xl-12 ">
                <div class="popup_inner">
                    <h3> Master Resigistration </h3>
                    <form class="contact-form" action="addmember" method="post" enctype="multipart/form-data">
                        <div class="row">
                            {% csrf_token%}
                            <div class="col-xl-12">
                                <p class="h6 mb-3 font-weight-normal mt-2 text-danger"> {{msg}} </p>
                                <input type="text" class="form-input text-dark" name="user_name" id="name"
                                    placeholder="Your Name" autofocus required value="{{user_name}}">
                                <input type="text" class="form-input text-dark" name="shopname" id="name"
                                    placeholder="Your Shop Name" autofocus required value="{{shopname}}">
                                <label>Add user image(use square image)</label>
                                <input type="file" name="myfile" accept="image/x-png,image/gif,image/jpeg"
                                    class="form-control file-upload-info" id="customFileLang"
                                    placeholder="Upload image which will appear on user menu" required>
                                <input type="email" class="form-input" name="email" id="email" placeholder="Your Email"
                                    value="{{email}}" autofocus required>
                                <input type="mobile" class="form-input" name="mobile" id="mobile"
                                    placeholder="Mobile no ..... don't write country code" value="{{mobile}}" autofocus
                                    required>
                                <input type="address" class="form-input" name="address" id="address"
                                    placeholder="Address" value="{{address}}" autofocus required>
                                <input type="Pincode" class="form-input" name="Pincode" id="Pincode"
                                    placeholder="Pincode" value="{{Pincode}}" autofocus required>


                            </div>
                            <div class="col-xl-6 col-md-6">
                                <select class="form-select wide" id="default-select" class="" name="salontype"
                                    value="{{salontype}}" autofocus required>
                                    {% if salontype != None %}
                                    <option value="{{salontype}}">{{salontype}}</p>
                                    </option>
                                    {% else %}
                                    <option value="">Salon Type<p class="h6 mb-3 font-weight-normal mt-2 text-danger">*
                                        </p>
                                    </option>
                                    {% endif %}
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Unisex">Unisex</option>
                                    <option value="MehArt">Mehendi artist</option>

                                </select>
                            </div>
                            <div class="col-xl-6 col-md-6">
                                <select class="form-select wide" class="form-input" id="default-select" class=""
                                    name="district" value="{{district}}" autofocus required>
                                    {% if district != None %}
                                    <option value="{{district}}">{{district}}</p>
                                    </option>
                                    {% else %}
                                    <option value="">District<p class="h6 mb-3 font-weight-normal mt-2 text-danger">*
                                        </p>
                                    </option>
                                    {% endif %}
                                    {% for d in district_list %}
                                    <option value="{{d.district}}">{{d.district}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <hr>
                            <div class="col-xl-12">
                                <input type="password" class="form-input" name="password" id="password"
                                    pattern=".{8,16}" placeholder="Password" required title="8 to 16 characters"
                                    autofocus>

                                <input type="password" class="form-input" name="re_password" id="re_password"
                                    placeholder="Repeat your password" aria-valuemin="8" required>
                                <hr>
                                <div class="card">
                                    <div id="headingOne" class=" bg-white shadow-sm border-2">
                                        <h4 class="mb-0 "><a href="#" data-toggle="collapse"
                                                data-target="#collapseOne" aria-expanded="false"
                                                aria-controls="collapseOne"
                                                class="collapsible-link py-2  ">
                                                Terms and Conditions* apply </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample"
                                        class="collapse">
                                        <div class="card-body p-5">


                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <div class="mr-auto">
                                                        </div>
                                                    </div>
                                                    <div class="modal-body">

                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <div class="row">
                                                                        <div class="col-sm-3 col-md-12 col-5">

                                                                        </div>
                                                                        <small>
                                                                        <p class="col-md-12 col-5"
                                                                            style="overflow-wrap: break-word;">
                                                                            <h4>
                                                                                Terms and Conditions for listing and
                                                                                advertising products on SAYA
                                                                            </h4>
                                                                            <label style="font-weight:bold; ">The
                                                                                following are the Terms and Conditions
                                                                                (Terms and Conditions) for using
                                                                                SAYA</label>
                                                                        <ul>
                                                                            <li> • Your visiting, subscribing or using
                                                                                any of the services of SAYA would imply
                                                                                that you have read and understood the
                                                                                Terms n Conditions. It would also imply
                                                                                that you agree to be bound by the same.
                                                                            <li> • In whatever manner you use the
                                                                                services of SAYA; you would remain bound
                                                                                by the Terms n Conditions.
                                                                            <li> • You also agree to accept the Terms n
                                                                                Conditions without any modification
                                                                                along with the updates made from time to
                                                                                time.
                                                                            <li> • SAYA has the sole right to accept or
                                                                                reject any registrations on SAYA,
                                                                                without assigning any reason.
                                                                            <li> • The password you receive upon
                                                                                completing the registration should be
                                                                                kept confidential by you. All and any
                                                                                activities under your account will be
                                                                                your responsibility.
                                                                            <li> • In the event you feel that there has
                                                                                been unauthorized use of your password,
                                                                                you will notify SAYA immediately.
                                                                            <li> • You will ensure that at the end of
                                                                                each session you will log out of your
                                                                                account.
                                                                            <li>• SAYA offers Salon Services. Upon
                                                                                payment these services will be provided
                                                                                to respected customers.
                                                                            <li>• You further agree to have read,
                                                                                understood and fully consent to the
                                                                                Privacy of SAYA. And completely accept
                                                                                it now and with any changes that will be
                                                                                made in the future.

                                                                        </ul>
                                                                        <label style="font-weight:bold; ">
                                                                        </label>

                                                                            You will not use the services of this
                                                                            website to: violate the legal and
                                                                            constitutional rights of any person. Put up
                                                                            unlawful, indecent, defamatory,
                                                                            inappropriate data, objects or links. Put up
                                                                            data protected by copyright, trademarks etc.
                                                                            put up computer virus programs, harmful or
                                                                            corrupted software that may interfere with
                                                                            the functioning of SAYA or devices of other
                                                                            users. Earn monetary benefits illegally.
                                                                            Illegally distribute data. Remove legal
                                                                            notices, source details on uploaded files.
                                                                            Infringe any policy or terms n conditions of
                                                                            SAYA now stated and additions and
                                                                            modification to the same in the future.
                                                                            Infringe the laws of India or in other
                                                                            countries that is in force at a particular
                                                                            time. Indulge in any act or activity that
                                                                            would result in reproduction, copying,
                                                                            publishing, transferring, selling,
                                                                            transmitting, distributing, modifying,
                                                                            displaying any content, information or data
                                                                            of SAYA for commercial or non-commercial
                                                                            purposes. In the event of a user not
                                                                            adhering to the policies, terms n
                                                                            conditions, SAYA reserves the complete right
                                                                            including but not limited to refusing any
                                                                            services, canceling placed orders, even
                                                                            terminating the accounts of such users.
                                                                        <br>
                                                                         The Prices of products and services are in
                                                                            Indian Rupees. SAYA reserves the right to
                                                                            change the prices of products and services
                                                                            at its discretion.
                                                                        <ul>
                                                                            <li>• Salon is only responsible & answerable
                                                                                for the customer dissatisfaction & legal
                                                                                action. SAYA is not responsible for any
                                                                                type of service given to customers.
                                                                            </li>
                                                                        </ul>

                                                                        </p>
                                                                      </small>
                                                                    </div>
                                                                    <hr />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              <small>  Member is to agree all terms and conditions*</small>
                                <hr>
                            </div>
                        </div>
                        <div>
                            <button type="submit" value="Add" class="boxed-btn3">ADD</button>
                        </div>
                    </form>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
{% endblock %}