<!doctype html>
{% load static %}
<html class="no-js" lang="zxx">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180967486-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180967486-1');
</script>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>SAYA Salon-At-Your-Abode</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.png' %}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'manager/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/counters.css' %}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center no-gutters">
                        <div class="col-xl-3 col-lg-3">
                            <div class="logo-img">
                                <a href="#">
                                    <img src="{% static 'manager/img/logo.png'%}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="{{home}}" href="/manager">home</a></li>
                                        <!-- <li><a class="{{nav}}" href="about.html"></a></li> -->
                                        <li><a class="{{myteam}}" href="/manager/myteam">My Team</a></li>
                                        <li><a class="{{myearning}}" href="/manager/myearning">My Earning</a></li>
                                        <li>
                                            <a class="{{ongoing}}" href="/manager/ongoing">On-going
                                                <p class="text-warning" id="notifiaction">
                                                    {% if request.session.notification != None %}
                                                    {{request.session.notification}}
                                                    {% endif %}
                                                </p>
                                            </a>
                                        </li>
                                        <li><a class="{{contact}}" href="/manager/contact">Contact Us</a></li>
                                        {% if request.session.Muser_email == None %}
                                        <li><a class="{{login}}" href="/manager/login">Login</a></li>
                                        {% else %}
                                        <li><a class="{{logout}}" href="/manager/logout">Logout</a></li>
                                        {%endif%}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="book_room">

                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- slider_area_start -->
    {%block body %}
    {% endblock %}

    <!-- footer -->
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Navigation
                            </h3>
                            <ul>
                                <li><a href="/manager">Home</a></li>
                                <li><a href="/manager/contact">contact us</a></li>
                                <li><a href="/manager/aboutdev">About</a></li>
                                <li>
                                    <a href="#" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="false"
                                        aria-controls="collapseOne" class="collapsible-link py-2  ">
                                        Terms and
                                        Conditions
                                    </a>
                                </li>

                                <div id="collapseOne1" aria-labelledby="headingOne" data-parent="#accordionExample"
                                    class="collapse">
                                    <div class="popup_box ">
                                        <div class="popup_inner">
                                            <div class="card-body p-2">
                                                <hr>
                                                <hr>
                                                <h3>Terms & Conditions</h3>
                                                <br>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="row">
                                                                <small>
                                                                    <div class="col-sm-3 col-md-12 col-5">

                                                                    </div>
                                                                    These terms and conditions apply as general terms
                                                                    and conditions for availing services by all salons.
                                                                    Additional terms and conditions may apply in respect
                                                                    of the particular service, promotion and products.
                                                                    These terms and conditions are subject to change
                                                                    without any prior notice. Hence, customers are
                                                                    requested to refer to the terms and conditions from
                                                                    time to time and before availing any service.
                                                                    Further, by availing the services/purchasing
                                                                    products, the customer shall be deemed to have
                                                                    accepted all the below mentioned Terms and
                                                                    Conditions and it constitutes a contract between the
                                                                    customer and the organization owning and running the
                                                                    respective salon.


                                                                    <p class="col-md-12 col-5 text-mini"
                                                                        style="overflow-wrap: break-word;">
                                                                        <label style="font-weight:bold; ">

                                                                        </label>
                                                                        <label style="font-weight:bold; "> APPOINTMENT &
                                                                            CANCELLATIONS</label>
                                                                    <ul>
                                                                        <li> • We will be happy to change / reschedule
                                                                            your
                                                                            booking with prior notice subject to
                                                                            availability of spare appointment slots.
                                                                        <li> • We reserve the right to refuse a
                                                                            customer/any
                                                                            service should we feel that the service
                                                                            requested for is against SOP or may not be
                                                                            safe/suitable for the customer given the
                                                                            medical
                                                                            / hygiene / physical condition as disclosed
                                                                            by
                                                                            the customer during the consultation
                                                                            process.
                                                                        <li> • Salons and its staff also reserves the
                                                                            right
                                                                            to refuse service to any customer should
                                                                            they
                                                                            feel threatened due to verbal or physical
                                                                            abuse
                                                                            of any sort.
                                                                        <li> • If appointment is cancelled by salon then
                                                                            whole amount will be refunded.
                                                                        <li> • If appointment is cancelled by customer
                                                                            then
                                                                            amount will never be refunded.
                                                                    </ul>
                                                                    <label style="font-weight:bold; "> CONSENT AND
                                                                        CONTRAINDICATION</label>
                                                                    <ul>
                                                                        <li>• Wherever applicable, please fill up the
                                                                            “Declaration
                                                                            cum Consent” form when handed over by the
                                                                            salon
                                                                            with
                                                                            true and complete information which would
                                                                            enable
                                                                            us to
                                                                            offer accurate consultation and services.
                                                                        <li> • Before availing any new service, we
                                                                            recommend
                                                                            that you
                                                                            take a patch test for all products used in
                                                                            providing the
                                                                            service to avoid any reaction and to protect
                                                                            your
                                                                            well-being.
                                                                        <li> • Whilst booking an appointment/availing
                                                                            services,
                                                                            please notify us if you are pregnant to
                                                                            enable
                                                                            us to
                                                                            ensure your comfort, safety and at the same
                                                                            time
                                                                            accurate services for your needs as certain
                                                                            services may
                                                                            not be advisable.
                                                                        <li> • Please inform your Expert of any medical
                                                                            conditions
                                                                            prior to your service, as some Services may
                                                                            not
                                                                            be
                                                                            appropriate for you.
                                                                        <li> • Salon is only responsible & answerable
                                                                            for
                                                                            the
                                                                            customer dissatisfaction & legal action.
                                                                            SAYA is
                                                                            not
                                                                            responsible for any type of service given to
                                                                            customers.
                                                                    </ul><label style="font-weight:bold; ">
                                                                        PRICES</label>
                                                                    <ul>
                                                                        <li> • Prices of services and products are
                                                                            exclusive
                                                                            to each
                                                                            Salon. Salons reserve the right to alter
                                                                            prices
                                                                            without
                                                                            any prior notice.
                                                                        <li> • Prices as on date of service
                                                                            delivery/product
                                                                            purchase
                                                                            will be billed and are subject to tax at
                                                                            prevailing
                                                                            rates.
                                                                    </ul> <label style="font-weight:bold; ">REFUND &
                                                                        EXCHANGES</label>
                                                                    <ul>
                                                                        <li> • We generally follow total refund practice
                                                                            in
                                                                            case of
                                                                            cancellation. But refund will only happens
                                                                            when
                                                                            no
                                                                            objection is being issued by respective
                                                                            Salon.
                                                                        <li> • After taking consultation and the service
                                                                            has
                                                                            been
                                                                            completed in accordance with the agreed
                                                                            terms,
                                                                            the
                                                                            customer is liable to pay the entire service
                                                                            charge.
                                                                    </ul><label style="font-weight:bold; ">OFFERS AND
                                                                        PROMOTIONS</label>
                                                                    <ul>
                                                                        <li> • Service/Series Sale package is
                                                                            non-transferable and
                                                                            must be taken within the 4 / 6 / 12 month
                                                                            period
                                                                            corresponding to the service series booked.
                                                                        <li> • Terms and conditions of the respective
                                                                            offer
                                                                            and
                                                                            promotion would apply in addition to these
                                                                            general terms
                                                                            and conditions.
                                                                        <li> • Services and products available under the
                                                                            offer/
                                                                            promotion scheme will also be available
                                                                            without
                                                                            the
                                                                            offer/ promotion.
                                                                        <li> • Offers and promotions cannot be exchanged
                                                                            for
                                                                            monetary
                                                                            compensation;
                                                                        <li> • No two offers can be clubbed.
                                                                        <li> • SAYA reserves the right to withdraw or
                                                                            modify
                                                                            Offers
                                                                            and promotions without any prior intimation.
                                                                    </ul><label style="font-weight:bold; ">PAYMENTS
                                                                        AND BILLING</label>
                                                                    <ul>
                                                                        <li>• We accept payments made in
                                                                            cash/Credit/Debit cards
                                                                            affiliated with Visa, MasterCard and
                                                                            Amex
                                                                        <li> • Please ensure to collect your Bill on
                                                                            the completion
                                                                            of services provided. In case your valid
                                                                            mobile no. is
                                                                            registered with us we will send you a
                                                                            bill via SMS after
                                                                            closing the bill in the system. You may
                                                                            also opt for a
                                                                            physical bill at the salon.
                                                                        <li>• In case no bill has been shared
                                                                            through any mode of
                                                                            communication within 24 hours of the
                                                                            completion of
                                                                            service by the Salon, please report it
                                                                            by writing to us
                                                                            at salonatyourabode@gmail.com
                                                                    </ul><label style="font-weight:bold; ">DATA
                                                                        SECURITY</label>
                                                                    <ul>
                                                                        <li>• Customers are requested to accurately
                                                                            share all
                                                                            necessary details while filling the
                                                                            Declaration cum
                                                                            Consent form, as the same is in your
                                                                            best interest.
                                                                        <li>• All Personal Information /Sensitive
                                                                            personal data or
                                                                            information provided by the customer
                                                                            while booking
                                                                            appointments, consultation procedures or
                                                                            filling consent
                                                                            forms is out of the customer’s free
                                                                            consent to enable
                                                                            the Company to carry out the services.
                                                                            Further Lakmé
                                                                            SAYA or its parent company shall keep
                                                                            the Personal
                                                                            Information/Sensitive personal data or
                                                                            information
                                                                            provided by the customer confidential
                                                                            and may store the
                                                                            same for future reference and use and
                                                                            for providing and
                                                                            recommending any other products and/or
                                                                            services or
                                                                            marketing purposes.
                                                                    </ul><label style="font-weight:bold; ">CUSTOMER
                                                                        CARE</label>
                                                                    <ul>
                                                                        <li> • Please email us at
                                                                            salonatyourabode@gmail.com in case
                                                                            of any query,
                                                                            grievance/complaint/feedback.
                                                                    </ul>

                                                                    </p>
                                                                </small>
                                                            </div>
                                                            <hr />
                                                        </div>
                                                    </div>

                                                </div>
                                                <hr>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="row">
                                                                <div class="col-sm-3 col-md-12 col-5">

                                                                </div>
                                                                <small>
                                                                    <p class="col-md-12 col-5"
                                                                        style="overflow-wrap: break-word;">
                                                                    <h4>
                                                                        Terms and Conditions for listing and
                                                                        advertising products on SAYA
                                                                    </h4>
                                                                    <label style="font-weight:bold; ">The
                                                                        following are the Terms and Conditions
                                                                        (Terms and Conditions) for using
                                                                        SAYA</label>
                                                                    <ul>
                                                                        <li> • Your visiting, subscribing or using
                                                                            any of the services of SAYA would imply
                                                                            that you have read and understood the
                                                                            Terms n Conditions. It would also imply
                                                                            that you agree to be bound by the same.
                                                                        <li> • In whatever manner you use the
                                                                            services of SAYA; you would remain bound
                                                                            by the Terms n Conditions.
                                                                        <li> • You also agree to accept the Terms n
                                                                            Conditions without any modification
                                                                            along with the updates made from time to
                                                                            time.
                                                                        <li> • SAYA has the sole right to accept or
                                                                            reject any registrations on SAYA,
                                                                            without assigning any reason.
                                                                        <li> • The password you receive upon
                                                                            completing the registration should be
                                                                            kept confidential by you. All and any
                                                                            activities under your account will be
                                                                            your responsibility.
                                                                        <li> • In the event you feel that there has
                                                                            been unauthorized use of your password,
                                                                            you will notify SAYA immediately.
                                                                        <li> • You will ensure that at the end of
                                                                            each session you will log out of your
                                                                            account.
                                                                        <li>• SAYA offers Salon Services. Upon
                                                                            payment these services will be provided
                                                                            to respected customers.
                                                                        <li>• You further agree to have read,
                                                                            understood and fully consent to the
                                                                            Privacy of SAYA. And completely accept
                                                                            it now and with any changes that will be
                                                                            made in the future.

                                                                    </ul>
                                                                    <label style="font-weight:bold; ">
                                                                    </label>

                                                                    You will not use the services of this
                                                                    website to: violate the legal and
                                                                    constitutional rights of any person. Put up
                                                                    unlawful, indecent, defamatory,
                                                                    inappropriate data, objects or links. Put up
                                                                    data protected by copyright, trademarks etc.
                                                                    put up computer virus programs, harmful or
                                                                    corrupted software that may interfere with
                                                                    the functioning of SAYA or devices of other
                                                                    users. Earn monetary benefits illegally.
                                                                    Illegally distribute data. Remove legal
                                                                    notices, source details on uploaded files.
                                                                    Infringe any policy or terms n conditions of
                                                                    SAYA now stated and additions and
                                                                    modification to the same in the future.
                                                                    Infringe the laws of India or in other
                                                                    countries that is in force at a particular
                                                                    time. Indulge in any act or activity that
                                                                    would result in reproduction, copying,
                                                                    publishing, transferring, selling,
                                                                    transmitting, distributing, modifying,
                                                                    displaying any content, information or data
                                                                    of SAYA for commercial or non-commercial
                                                                    purposes. In the event of a user not
                                                                    adhering to the policies, terms n
                                                                    conditions, SAYA reserves the complete right
                                                                    including but not limited to refusing any
                                                                    services, canceling placed orders, even
                                                                    terminating the accounts of such users.
                                                                    <br>
                                                                    The Prices of products and services are in
                                                                    Indian Rupees. SAYA reserves the right to
                                                                    change the prices of products and services
                                                                    at its discretion.
                                                                    <ul>
                                                                        <li>• Salon is only responsible & answerable
                                                                            for the customer dissatisfaction & legal
                                                                            action. SAYA is not responsible for any
                                                                            type of service given to customers.
                                                                        </li>
                                                                    </ul>

                                                                    </p>
                                                                </small>
                                                            </div>
                                                            <hr />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Join With Us
                            </h3>
                            <ul>
                                <li><a  href="/manager/contact">contact us </a></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                        <div class="socail_links">
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/Salon-at-your-abode-SAYA-105124908054640">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/salon_at_your_abode/?fbclid=IwAR2YLGeq868fOcSR73btiPIBdNx0tiEi-XXN6C_KusHXF64q11OPT7BNaX8">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Email US
                            </h3>
                            <p class="footer_text">
                                <!--200, A-block, Green road, Indore <br>-->
                                <!--+91 9624336XX <br>-->

                                <!--<a class="domain" href="#">-->
                                contact@gmail.com
                                 <!--</a>-->
                                 </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This webapp
                            is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#"
                                target="_blank">ITESS</a>
                            <br>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                            template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                                href="https://colorlib.com" target="_blank">Colorlib</a>

                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <audio id="myAudio">
            <source src="{% static 'manager/audio/ring.mp3' %}" type="audio/ogg">
            <source src="{% static 'manager/audio/ring.mp3' %}" type="audio/mpeg">
        </audio>
    </footer>
    <!-- footer -->


    <!-- JS here -->
    <script src="{% static 'manager/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'manager/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'manager/js/popper.min.js' %}"></script>
    <script src="{% static 'manager/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'manager/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'manager/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'manager/js/ajax-form.js' %}"></script>
    <script src="{% static 'manager/js/waypoints.min.js' %}"></script>
    <script src="{% static 'manager/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'manager/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'manager/js/scrollIt.js' %}"></script>
    <script src="{% static 'manager/js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'manager/js/wow.min.js' %}"></script>
    <script src="{% static 'manager/js/nice-select.min.js' %}"></script>
    <script src="{% static 'manager/js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'manager/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'manager/js/plugins.js' %}"></script>
    <script src="{% static 'manager/js/gijgo.min.js' %}"></script>

    <!--contact js-->
     <script src="{% static 'manager/js/contact.js' %}"></script>
    <script src="{% static 'manager/js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'manager/js/jquery.form.js' %}"></script>
    <script src="{% static 'manager/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'manager/js/mail-script.js' %}"></script>

    <script src="{% static 'manager/js/main.js' %}"></script>
    <script>

        var x = document.getElementById("myAudio");
        $(document).ready(function () {
            setInterval(function () {
                // x.autoplay = true;
                // x.load();

                $.ajax({
                    type: 'GET',
                    url: "{% url 'Mnotify' %}",
                    success: function (response) {
                        if (response.data != 0) {
                        //    $('#notifiaction').empty();
                            x.autoplay = true;
                            x.load();
                             var temp = ''

                            temp += response.data;

                             $('#notifiaction').append(temp);
                        }
                    },
                    error: function (response) {

                    }
                });
            }, 5000);
        });
        $('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            disableDaysOfWeek: [0, 0],
            //     icons: {
            //      rightIcon: '<span class="fa fa-caret-down"></span>'
            //  }
        });
        $('#datepicker2').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-caret-down"></span>'
            }

        });
        var timepicker = $('#timepicker').timepicker({
            format: 'HH.MM'
        });
    </script>
    {% block script %}

    {% endblock %}
</body>

</html>