{% extends 'Mbase.html' %}
{% load static %}
{% block body %}

<div class="slider_area">
    <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1 overlay2">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="slider_text text-center">
                        <h3>Add employers <br>
                            & earn</h3>
                        <p>Professional Care</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about_area_start -->

<!-- about_area_end -->


<!-- gallery_area_start -->
<div class="gallery_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title2 text-center mb-90">
                    <i class="flaticon-scissors"></i>
                    <h3>Our Gallery</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="gallery_active owl-carousel">
                    <div class="single_gallery">
                        <div class="thumb">
                            <img src="{% static 'manager/img/gallery/1.png' %}" alt="">
                            <div class="image_hover">
                                <a class="popup-image" href="{% static 'manager/img/gallery/1.png' %}">
                                    <i class="ti-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="single_gallery">
                        <div class="thumb">
                            <img src="{% static 'manager/img/gallery/2.png' %}" alt="">
                            <div class="image_hover">
                                <a class="popup-image" href="{% static 'manager/img/gallery/2.png' %}">
                                    <i class="ti-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="single_gallery">
                        <div class="thumb">
                            <img src="{% static 'manager/img/gallery/4.jpg' %}" alt="">
                            <div class="image_hover">
                                <a class="popup-image" href="{% static 'manager/img/gallery/2.png' %}">
                                    <i class="ti-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="single_gallery">
                        <div class="thumb">
                            <img src="{% static 'manager/img/gallery/3.png' %}" alt="">
                            <div class="image_hover">
                                <a class="popup-image" href="{% static 'manager/img/gallery/3.png' %}">
                                    <i class="ti-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="single_gallery">
                        <div class="thumb">
                            <img src="{% static 'manager/img/gallery/5.jpg' %}" alt="">
                            <div class="image_hover">
                                <a class="popup-image" href="{% static 'manager/img/gallery/2.png' %}">
                                    <i class="ti-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- gallery_area_end -->



 <!-- cutter_muster_end -->

    <!-- find_us_area start -->
    <div class="find_us_area find_bg_1 ">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 offset-xl-7 col-lg-6 offset-lg-6">
                    <div class="find_info">
                        <h3 class="find_info_title">How to Find Us</h3>
                        <!--<div class="single_find d-flex">-->
                        <!--    <div class="icon">-->
                        <!--        <i class="flaticon-placeholder"></i>-->
                        <!--    </div>-->
                        <!--    <div class="find_text">-->
                        <!--        <h3>Location</h3>-->
                        <!--        <p>200, A-block, Green road, USA</p>-->
                        <!--    </div>-->
                        <!--</div>-->
                        <!--<div class="single_find d-flex">-->
                        <!--    <div class="icon">-->
                        <!--        <i class="flaticon-phone-call"></i>-->
                        <!--    </div>-->
                        <!--    <div class="find_text">-->
                        <!--        <h3>Call Us</h3>-->
                        <!--        <p>+10 378 478 2789</p>-->
                        <!--    </div>-->
                        <!--</div>-->
                        <div class="single_find d-flex">
                            <div class="icon">
                                <i class="flaticon-paper-plane"></i>
                            </div>
                            <div class="find_text">
                                <h3>Mail Us</h3>
                                <p>salonatyourabode@gmail.com</p>
                            </div>
                        </div>
                        <div class="single_find">
                            <!--<div class="book_btn">-->
                            <!--    <a class="popup-with-form" href="#test-form">Make an Appointment</a>-->
                            <!--</div>-->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- find_us_area_end -->

    {% endblock %}