{% extends 'Ubase.html' %}
{% load static %}
{% block body %}
<div class="bradcam_area breadcam_bg overlay2">
    <div class="popup_box ">
        <div class="popup_inner">
            <h3>sign up</h3>
            <form class="contact-form" action="signup" method="post">
                <div class="row">
                    {% csrf_token%}
                    <div class="col-xl-12">
                        <p class="h6 mb-3 font-weight-normal mt-2 text-danger"> {{msg}} </p>
                        <input type="text" class="form-input text-dark" name="user_name" id="name"
                            placeholder="Your Name" autofocus required value="{{user_name}}">
                        <input type="email" class="form-input" name="email" id="email" placeholder="Your Email"
                            value="{{email}}" autofocus required>
                        <input type="mobile" class="form-input" name="mobile" id="mobile"
                            placeholder="Mobile no ..... don't write country code" value="{{mobile}}" autofocus
                            required>
                        <input type="address" class="form-input" name="address" id="address" placeholder="Address"
                            value="{{address}}" autofocus required>
                    </div>
                    <div class="col-xl-6 col-md-6">
                        <select class="form-select wide" id="default-select" class="" name="gender" value="{{gender}}"
                            autofocus required>
                            {% if gender != None %}
                            <option value="{{gender}}">{{gender}}</p>
                            </option>
                            {% else %}
                            <option value="">Gender<p class="h6 mb-3 font-weight-normal mt-2 text-danger">*</p>
                            </option>
                            {% endif %}
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>

                        </select>
                    </div>
                    <div class="col-xl-6 col-md-6">
                        <select class="form-select wide" class="form-input" id="default-select" class="" name="district"
                            value="{{district}}" autofocus required>
                            {% if gender != None %}
                            <option value="{{district}}">{{district}}</p>
                            </option>
                            {% else %}
                            <option value="">District<p class="h6 mb-3 font-weight-normal mt-2 text-danger">*</p>
                            </option>
                            {% endif %}
                            {% for d in district_list %}
                            <option value="{{d.district}}">{{d.district}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-xl-12">
                        <input type="password" class="form-input" name="password" id="password" pattern=".{8,16}" placeholder="Password" required title="8 to 16 characters" autofocus>
                        <input type="password" class="form-input" name="re_password" id="re_password"
                            placeholder="Repeat your password" aria-valuemin="8" required>
                        <hr>

                    </div>
                </div>
                <div class="col-xl-12">
                    <button type="submit" value="Add" class="boxed-btn3">SignUp</button>
                </div>
            </form>
        </div>

        <div class="col-xl-12">
            <hr>
            or
            <hr>
            <a href="/login">
                <button type="" class="boxed-btn3">login</button>
            </a>
        </div>
    </div>
</div>

</div>
{% endblock %}

