{% extends 'Ubase.html' %}
{% load static %}
{% block body %}
<div class="bradcam_area breadcam_bg overlay2">
    <div class="popup_box ">
        <div class="popup_inner">
            <h3>sign up</h3>
            <form class="contact-form" action="signup" method="post">
                <div class="row">
                    {% csrf_token%}
                    <div class="col-xl-12">
                        <p class="h6 mb-3 font-weight-normal mt-2 text-danger"> {{msg}} </p>
                        <input type="text" class="form-input text-dark" name="user_name" id="name"
                            placeholder="Your Name" autofocus required value="{{user_name}}">
                        <input type="email" class="form-input" name="email" id="email" placeholder="Your Email"
                            value="{{email}}" autofocus required>
                        <input type="mobile" class="form-input" name="mobile" id="mobile"
                            placeholder="Mobile no ..... don't write country code" value="{{mobile}}" autofocus
                            required>
                        <input type="address" class="form-input" name="address" id="address" placeholder="Address"
                            value="{{address}}" autofocus required>
                    </div>
                    <div class="col-xl-6 col-md-6">
                        <select class="form-select wide" id="default-select" class="" name="gender" value="{{gender}}"
                            autofocus required>
                            {% if gender != None %}
                            <option value="{{gender}}">{{gender}}</p>
                            </option>
                            {% else %}
                            <option value="">Gender<p class="h6 mb-3 font-weight-normal mt-2 text-danger">*</p>
                            </option>
                            {% endif %}
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>

                        </select>
                    </div>
                    <div class="col-xl-6 col-md-6">
                        <select class="form-select wide" class="form-input" id="default-select" class="" name="district"
                            value="{{district}}" autofocus required>
                            {% if gender != None %}
                            <option value="{{district}}">{{district}}</p>
                            </option>
                            {% else %}
                            <option value="">District<p class="h6 mb-3 font-weight-normal mt-2 text-danger">*</p>
                            </option>
                            {% endif %}
                            {% for d in district_list %}
                            <option value="{{d.district}}">{{d.district}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-xl-12">
                        <input type="password" class="form-input" name="password" id="password" pattern=".{8,16}"
                            placeholder="Password" required title="8 to 16 characters" autofocus>
                        <input type="password" class="form-input" name="re_password" id="re_password"
                            placeholder="Repeat your password" aria-valuemin="8" required>
                        <hr>
                        <div class="card">
                            <div id="headingOne" class=" bg-white shadow-sm border-2">
                                <h4 class="mb-0 "><a href="#" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"
                                        class="collapsible-link py-2  ">
                                        Terms and Conditions* apply </a>
                                </h4>
                            </div>
                            <div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample"
                                class="collapse">
                                <div class="card-body p-2">


                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <div class="mr-auto">
                                                </div>
                                            </div>
                                            <div class="modal-body">

                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="row">
                                                                <small>
                                                                <div class="col-sm-3 col-md-12 col-5">

                                                                </div>
                                                                    These terms and conditions apply as general terms
                                                                    and conditions for availing services by all salons.
                                                                    Additional terms and conditions may apply in respect
                                                                    of the particular service, promotion and products.
                                                                    These terms and conditions are subject to change
                                                                    without any prior notice. Hence, customers are
                                                                    requested to refer to the terms and conditions from
                                                                    time to time and before availing any service.
                                                                    Further, by availing the services/purchasing
                                                                    products, the customer shall be deemed to have
                                                                    accepted all the below mentioned Terms and
                                                                    Conditions and it constitutes a contract between the
                                                                    customer and the organization owning and running the
                                                                    respective salon.


                                                                <p class="col-md-12 col-5 text-mini"
                                                                    style="overflow-wrap: break-word;">
                                                                    <label style="font-weight:bold; ">

                                                                    </label>
                                                                    <label style="font-weight:bold; "> APPOINTMENT &
                                                                        CANCELLATIONS</label>
                                                                <ul>
                                                                    <li> • We will be happy to change / reschedule your
                                                                        booking with prior notice subject to
                                                                        availability of spare appointment slots.
                                                                    <li> • We reserve the right to refuse a customer/any
                                                                        service should we feel that the service
                                                                        requested for is against SOP or may not be
                                                                        safe/suitable for the customer given the medical
                                                                        / hygiene / physical condition as disclosed by
                                                                        the customer during the consultation process.
                                                                    <li> • Salons and its staff also reserves the right
                                                                        to refuse service to any customer should they
                                                                        feel threatened due to verbal or physical abuse
                                                                        of any sort.
                                                                    <li> • If appointment is cancelled by salon then
                                                                        whole amount will be refunded.
                                                                    <li> • If appointment is cancelled by customer then
                                                                        amount will never be refunded.
                                                                </ul>
                                                                <label style="font-weight:bold; "> CONSENT AND
                                                                    CONTRAINDICATION</label>
                                                                <ul>
                                                                    <li>• Wherever applicable, please fill up the
                                                                        “Declaration
                                                                        cum Consent” form when handed over by the salon
                                                                        with
                                                                        true and complete information which would enable
                                                                        us to
                                                                        offer accurate consultation and services.
                                                                    <li> • Before availing any new service, we recommend
                                                                        that you
                                                                        take a patch test for all products used in
                                                                        providing the
                                                                        service to avoid any reaction and to protect
                                                                        your
                                                                        well-being.
                                                                    <li> • Whilst booking an appointment/availing
                                                                        services,
                                                                        please notify us if you are pregnant to enable
                                                                        us to
                                                                        ensure your comfort, safety and at the same time
                                                                        accurate services for your needs as certain
                                                                        services may
                                                                        not be advisable.
                                                                    <li> • Please inform your Expert of any medical
                                                                        conditions
                                                                        prior to your service, as some Services may not
                                                                        be
                                                                        appropriate for you.
                                                                    <li> • Salon is only responsible & answerable for
                                                                        the
                                                                        customer dissatisfaction & legal action. SAYA is
                                                                        not
                                                                        responsible for any type of service given to
                                                                        customers.
                                                                </ul><label style="font-weight:bold; "> PRICES</label>
                                                                <ul>
                                                                    <li> • Prices of services and products are exclusive
                                                                        to each
                                                                        Salon. Salons reserve the right to alter prices
                                                                        without
                                                                        any prior notice.
                                                                    <li> • Prices as on date of service delivery/product
                                                                        purchase
                                                                        will be billed and are subject to tax at
                                                                        prevailing
                                                                        rates.
                                                                </ul> <label style="font-weight:bold; ">REFUND &
                                                                    EXCHANGES</label>
                                                                <ul>
                                                                    <li> • We generally follow total refund practice in
                                                                        case of
                                                                        cancellation. But refund will only happens when
                                                                        no
                                                                        objection is being issued by respective Salon.
                                                                    <li> • After taking consultation and the service has
                                                                        been
                                                                        completed in accordance with the agreed terms,
                                                                        the
                                                                        customer is liable to pay the entire service
                                                                        charge.
                                                                </ul><label style="font-weight:bold; ">OFFERS AND
                                                                    PROMOTIONS</label>
                                                                <ul>
                                                                    <li> • Service/Series Sale package is
                                                                        non-transferable and
                                                                        must be taken within the 4 / 6 / 12 month period
                                                                        corresponding to the service series booked.
                                                                    <li> • Terms and conditions of the respective offer
                                                                        and
                                                                        promotion would apply in addition to these
                                                                        general terms
                                                                        and conditions.
                                                                    <li> • Services and products available under the
                                                                        offer/
                                                                        promotion scheme will also be available without
                                                                        the
                                                                        offer/ promotion.
                                                                    <li> • Offers and promotions cannot be exchanged for
                                                                        monetary
                                                                        compensation;
                                                                    <li> • No two offers can be clubbed.
                                                                    <li> • SAYA reserves the right to withdraw or modify
                                                                        Offers
                                                                        and promotions without any prior intimation.
                                                                </ul><label style="font-weight:bold; ">PAYMENTS
                                                                    AND BILLING</label>
                                                                <ul>
                                                                    <li>• We accept payments made in
                                                                        cash/Credit/Debit cards
                                                                        affiliated with Visa, MasterCard and
                                                                        Amex
                                                                    <li> • Please ensure to collect your Bill on
                                                                        the completion
                                                                        of services provided. In case your valid
                                                                        mobile no. is
                                                                        registered with us we will send you a
                                                                        bill via SMS after
                                                                        closing the bill in the system. You may
                                                                        also opt for a
                                                                        physical bill at the salon.
                                                                    <li>• In case no bill has been shared
                                                                        through any mode of
                                                                        communication within 24 hours of the
                                                                        completion of
                                                                        service by the Salon, please report it
                                                                        by writing to us
                                                                        at salonatyourabode@gmail.com
                                                                </ul><label style="font-weight:bold; ">DATA
                                                                    SECURITY</label>
                                                                <ul>
                                                                    <li>• Customers are requested to accurately
                                                                        share all
                                                                        necessary details while filling the
                                                                        Declaration cum
                                                                        Consent form, as the same is in your
                                                                        best interest.
                                                                    <li>• All Personal Information /Sensitive
                                                                        personal data or
                                                                        information provided by the customer
                                                                        while booking
                                                                        appointments, consultation procedures or
                                                                        filling consent
                                                                        forms is out of the customer’s free
                                                                        consent to enable
                                                                        the Company to carry out the services.
                                                                        Further Lakmé
                                                                        SAYA or its parent company shall keep
                                                                        the Personal
                                                                        Information/Sensitive personal data or
                                                                        information
                                                                        provided by the customer confidential
                                                                        and may store the
                                                                        same for future reference and use and
                                                                        for providing and
                                                                        recommending any other products and/or
                                                                        services or
                                                                        marketing purposes.
                                                                </ul><label style="font-weight:bold; ">CUSTOMER
                                                                    CARE</label>
                                                                <ul>
                                                                    <li> • Please email us at
                                                                        salonatyourabode@gmail.com in case
                                                                        of any query,
                                                                        grievance/complaint/feedback.
                                                                </ul>

                                                                </p>
                                                                </small>
                                                            </div>
                                                            <hr />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <small>    By sigup you are agree our all terms and conditions*</small>
                        <hr>

                    </div>

                </div>
                <div class="col-xl-12">
                    <button type="submit" value="Add" class="boxed-btn3">SignUp</button>
                </div>
            </form>
        </div>

        <div class="col-xl-12">
            <hr>
            or
            <hr>
            <a href="/login">
                <button type="" class="boxed-btn3">login</button>
            </a>
        </div>
    </div>
</div>



<!-- Accordion item 1 -->


{% endblock %}