<!doctype html>
{% load static %}
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>SAYA Salon-At-Your-Abode</title>
    <meta name="google-site-verification" content="NFdt2kt5L6gCd36R_culSdl-MrA3RHCsdBFmpYBkYZk" />
    <meta name="description" content="Salon Professional At Your HOME">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type='application/ld+json'>
    {
      "@context": "http://www.schema.org",
      "@type": "WebSite",
      "name": "Saya",
      "alternateName": "salon at home",
      "url": "https://saya.pythonanywhere.com/"
    }
    </script>
    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'manager/img/favicon.png' %}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'manager/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/checkout.css' %}">

    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center no-gutters">
                        <div class="col-xl-3 col-lg-3">
                            <div class="logo-img">
                                <a href="#">
                                    <img src="{% static 'manager/img/logo.png'%}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="{{home}}" href="/">home</a></li>
                                        <li><a class="{{salon}}" href="/salon">Salon's</a></li>
                                        <li><a class="{{order_status}}" href="/order_status">Order-Status</a></li>
                                        <li><a class="{{contact}}" href="/contact">Contact Us</a></li>
                                        {% if request.session.user_email == None and trans != 'trans' %}
                                        <li><a class="{{login}}" href="/login">Login</a></li>
                                        <li><a class="{{signup}}" href="/signup">Sign Up</a></li>
                                        {% else %}
                                        <li><a class="{{wallet}}" href="/wallet">wallet</a></li>
                                        <li><a class="{{logout}}" href="/logout">Logout</a></li>
                                        {%endif%}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">

                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- slider_area_start -->
    {%block body %}
    {% endblock %}

    <!-- footer -->
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Navigation
                            </h3>
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/contact">contact us</a></li>
                                <li><a href="/aboutdev">About</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Join With Us
                            </h3>
                            <ul>
                                <li><a  href="/contact">contact us </a></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                        <div class="socail_links">
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/Salon-at-your-abode-SAYA-105124908054640">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/salon_at_your_abode/?fbclid=IwAR2YLGeq868fOcSR73btiPIBdNx0tiEi-XXN6C_KusHXF64q11OPT7BNaX8">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Email us
                            </h3>
                            <p class="footer_text">
                                <!--200, A-block, Green road, Indore <br>-->
                                <!--+91 9624336XX <br>-->
                                <!--<a class="#" href="#">-->
                                salonatyourabode@gmail.com
                                <!--</a>-->
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This webapp
                            is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#"
                                target="_blank">ITESS</a>
                            <br>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                            template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                                href="https://colorlib.com" target="_blank">Colorlib</a>

                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    {% block modal %}
    {% endblock %}
    <!-- footer -->
    <!-- link that opens popup -->

    <!-- form itself end-->

    <!-- form itself end -->

    <!-- JS here -->
    <script src="{% static 'manager/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'manager/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'manager/js/popper.min.js' %}"></script>
    <script src="{% static 'manager/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'manager/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'manager/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'manager/js/ajax-form.js' %}"></script>
    <script src="{% static 'manager/js/waypoints.min.js' %}"></script>
    <script src="{% static 'manager/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'manager/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'manager/js/scrollIt.js' %}"></script>
    <script src="{% static 'manager/js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'manager/js/wow.min.js' %}"></script>
    <script src="{% static 'manager/js/nice-select.min.js' %}"></script>
    <script src="{% static 'manager/js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'manager/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'manager/js/plugins.js' %}"></script>
    <script src="{% static 'manager/js/gijgo.min.js' %}"></script>

    <!--contact js-->
    <script src="{% static 'manager/js/contact.js' %}"></script>
    <script src="{% static 'manager/js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'manager/js/jquery.form.js' %}"></script>
    <script src="{% static 'manager/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'manager/js/mail-script.js' %}"></script>

    <script src="{% static 'manager/js/main.js' %}"></script>
    <script>
        $('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            disableDaysOfWeek: [0, 0],
            //     icons: {
            //      rightIcon: '<span class="fa fa-caret-down"></span>'
            //  }
        });
        $('#datepicker2').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-caret-down"></span>'
            }

        });
        var timepicker = $('#timepicker').timepicker({
            format: 'HH.MM'
        });
    </script>
    {% block script %}
    {% endblock %}
</body>

</html>