{% extends 'Ubase.html' %}
{% load static %}
{% block body %}

<div class="slider_area">
    <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1 overlay2">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="slider_text text-center">
                        <h3>Salon Professional At <br>
                            your Home</h3>
                        <a href="/salon"><h4><p>Get 10% Cashback*</p></h4></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- about_area_start -->
<div class="about_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6">
                <div class="about_thumb">
                    <img src="{% static 'manager/img/about/about_lft.png' %}" alt="">
                    <div class="opening_hour text-center">
                        <i class="flaticon-clock"></i>
                        <h3>At your time</h3>
                        <p> place order <br>
                            and wait for some miniutes..</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="about_info">
                    <div class="section_title mb-20px">
                        <span>Salon at your home</span>
                        <h3>Experienced and <br>
                            Traditional Stylish <br>
                            professionals </h3>
                    </div>
                    <p> Salon professionals at your home A-Z services for you.<br>
                        Inspire employees and organizations to support causes they care
                        about. We do this to bring more resources for the world that are
                        changing our world.</p>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- banner start -->
<div class="find_us_area find_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 offset-xl-7 col-lg-6 offset-lg-6">
                <div class="find_info">
                    <h3 class="find_info_title">GET 10% Cashaback*</h3>
                    <div class="single_find d-flex">
                        <div class="icon">                            
                        </div>
                        <div class="find_text">
                            <a href="/salon">
                            <h3>Get salon at home  Now</h3>
                            </a>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- banner_end -->

<!-- about_area_end -->
<div class="service_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title2 text-center mb-90">
                    <i class="flaticon-scissors"></i>
                    <h3>Services</h3>
                </div>
            </div>
        </div>
        <div class="white_bg_pos">
            <div class="row">
                <div class="col-xl-6">
                    <div class="single_service d-flex justify-content-between align-items-center">
                        <div class="service_inner d-flex align-items-center">
                            <div class="thumb">
                                <img src="{% static 'manager/img/service/1.png' %}" alt="">
                            </div>
                            <span>Threading</span>
                        </div>
                        <p>RS 100-300</p>
                    </div>
                    <div class="single_service d-flex justify-content-between align-items-center">
                        <div class="service_inner d-flex align-items-center">
                            <div class="thumb">
                                <img src="{% static 'manager/img/service/2.png' %}" alt="">
                            </div>
                            <span>Hair treatment</span>
                        </div>
                        <p>RS 100-300</p>
                    </div>
                    <div class="single_service d-flex justify-content-between align-items-center">
                        <div class="service_inner d-flex align-items-center">
                            <div class="thumb">
                                <img src="{% static 'manager/img/service/3.png' %}" alt="">
                            </div>
                            <span>Facial and Skin care</span>
                        </div>
                        <p>RS 100-300</p>
                    </div>
                    <div class="single_service d-flex justify-content-between align-items-center">
                        <div class="service_inner d-flex align-items-center">
                            <div class="thumb">
                                <img src="{% static 'manager/img/service/4.png' %}" alt="">
                            </div>
                            <span>Bridal Makeup</span>
                        </div>
                        <p>RS 100-300</p>
                    </div>
                    <div class="single_service d-flex justify-content-between align-items-center">
                        <div class="service_inner d-flex align-items-center">
                            <div class="thumb">
                                <img src="{% static 'manager/img/service/5.png' %}" alt="">
                            </div>
                            <span>Pedicure</span>
                        </div>
                        <p>RS 100-300</p>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="single_service d-flex justify-content-between align-items-center">
                        <div class="service_inner d-flex align-items-center">
                            <div class="thumb">
                                <img src="{% static 'manager/img/service/6.png' %}" alt="">
                            </div>
                            <span>Classic haircut</span>
                        </div>
                        <p>RS 100-300</p>
                    </div>
                    <div class="single_service d-flex justify-content-between align-items-center">
                        <div class="service_inner d-flex align-items-center">
                            <div class="thumb">
                                <img src="{% static 'manager/img/service/7.png' %}" alt="">
                            </div>
                            <span>Beard and moustache</span>
                        </div>
                        <p>RS 100-300</p>
                    </div>
                    <div class="single_service d-flex justify-content-between align-items-center">
                        <div class="service_inner d-flex align-items-center">
                            <div class="thumb">
                                <img src="{% static 'manager/img/service/8.png' %}" alt="">
                            </div>
                            <span>Beard trimming</span>
                        </div>
                        <p>RS 100-300</p>
                    </div>
                    <div class="single_service d-flex justify-content-between align-items-center">
                        <div class="service_inner d-flex align-items-center">
                            <div class="thumb">
                                <img src="{% static 'manager/img/service/9.png' %}" alt="">
                            </div>
                            <span>Hair treatment</span>
                        </div>
                        <p>RS 100-300</p>
                    </div>
                    <div class="single_service d-flex justify-content-between align-items-center">
                        <div class="service_inner d-flex align-items-center">
                            <div class="thumb">
                                <img src="{% static 'manager/img/service/10.png' %}" alt="">
                            </div>
                            <span>Haircut and shampoo </span>
                        </div>
                        <p>RS 100-300</p>
                    </div>
                    <div class="single_service d-flex justify-content-between align-items-center">
                        <div class="h4 text-dark text-center">
                            And Many More......
                        </div>
                    </div>

                </div>

                <div class="col-xl-12">
                    <div class="book_btn text-center">
                        <a class="boxed-btn3 " href="/salon">Try Now!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- gallery_area_start -->
<div class="gallery_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title2 text-center mb-90">
                    <i class="flaticon-scissors"></i>
                    <h3>Our Gallery</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="gallery_active owl-carousel">
                    <div class="single_gallery">
                        <div class="thumb">
                            <img src="{% static 'manager/img/gallery/1.png' %}" alt="">
                            <div class="image_hover">
                                <a class="popup-image" href="{% static 'manager/img/gallery/1.png' %}">
                                    <i class="ti-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="single_gallery">
                        <div class="thumb">
                            <img src="{% static 'manager/img/gallery/2.png' %}" alt="">
                            <div class="image_hover">
                                <a class="popup-image" href="{% static 'manager/img/gallery/2.png' %}">
                                    <i class="ti-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="single_gallery">
                        <div class="thumb">
                            <img src="{% static 'manager/img/gallery/4.jpg' %}" alt="">
                            <div class="image_hover">
                                <a class="popup-image" href="{% static 'manager/img/gallery/2.png' %}">
                                    <i class="ti-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="single_gallery">
                        <div class="thumb">
                            <img src="{% static 'manager/img/gallery/3.png' %}" alt="">
                            <div class="image_hover">
                                <a class="popup-image" href="{% static 'manager/img/gallery/3.png' %}">
                                    <i class="ti-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="single_gallery">
                        <div class="thumb">
                            <img src="{% static 'manager/img/gallery/5.jpg' %}" alt="">
                            <div class="image_hover">
                                <a class="popup-image" href="{% static 'manager/img/gallery/2.png' %}">
                                    <i class="ti-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- gallery_area_end -->



<!-- cutter_muster_start -->
<!-- <div class="cutter_muster">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title2 text-center mb-90">
                    <i class="flaticon-scissors"></i>
                    <h3>Top Professionals Of Month</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-md-6 col-lg-3">
                <div class="single_master">
                    <div class="thumb">
                        <img src="{% static 'manager/img/team/1.png' %}" alt="">
                    </div>
                    <div class="master_name text-center">
                        <h3>Macau Wilium</h3>
                        <p>Massage Master</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-lg-3">
                <div class="single_master">
                    <div class="thumb">
                        <img src="{% static 'manager/img/team/2.png' %}" alt="">

                    </div>
                    <div class="master_name text-center">
                        <h3>Dan Jacky</h3>
                        <p>Mens Cut</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-lg-3">
                <div class="single_master">
                    <div class="thumb">
                        <img src="{% static 'manager/img/team/3.png' %}" alt="">

                    </div>
                    <div class="master_name text-center">
                        <h3>Luka Luka</h3>
                        <p>Mens Cut</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-lg-3">
                <div class="single_master">
                    <div class="thumb">
                        <img src="{% static 'manager/img/team/4.png' %}" alt="">

                    </div>
                    <div class="master_name text-center">
                        <h3>Rona Dana</h3>
                        <p>Ladies Cut</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- cutter_muster_end -->

<!-- find_us_area start -->
<div class="find_us_area find_bg_1 ">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 offset-xl-7 col-lg-6 offset-lg-6">
                <div class="find_info">
                    <h3 class="find_info_title">How to Find Us</h3>
                    <!--<div class="single_find d-flex">-->
                    <!--    <div class="icon">-->
                    <!--        <i class="flaticon-placeholder"></i>-->
                    <!--    </div>-->
                    <!--    <div class="find_text">-->
                    <!--        <h3>Location</h3>-->
                    <!--        <p>200, A-block, Green road, Indore</p>-->
                    <!--    </div>-->
                    <!--</div>-->
                    <!--<div class="single_find d-flex">-->
                    <!--    <div class="icon">-->
                    <!--        <i class="flaticon-phone-call"></i>-->
                    <!--    </div>-->
                    <!--    <div class="find_text">-->
                    <!--        <h3>Call Us</h3>-->
                    <!--        <p>+91 </p>-->
                    <!--    </div>-->
                    <!--</div>-->
                    <div class="single_find d-flex">
                        <div class="icon">
                            <i class="flaticon-paper-plane"></i>
                        </div>
                        <div class="find_text">
                            <h3>Mail Us</h3>
                            <p>salonatyourabode@gmail.com</p>
                        </div>
                    </div>
                    <div class="single_find">

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- find_us_area_end -->

{% endblock %}