{% extends 'Ubase.html' %}
{% load static %}
{% block body %}
<div class="bradcam_area breadcam_bg overlay2">
    <div class="popup_box ">
        <div class="popup_inner">
            <h3 class="text-danger" >
              This salon is Not place orders now
                
            </h3>
            <a href="/salon">
                <button type="button" class="btn btn-outline-success">
                    Try another
                </button>
            </a>
        </div>

    </div>
</div>

</div>
{% endblock %}