{% extends 'Ubase.html' %}
{% load static %}
{% block body %}
<div class="service_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">

            </div>
        </div>
    </div>
    <div class="white_bg_pos">
        <div class="row">
            <div class="col-xl-6">
                <div class="panel panel-info">
                    <div class="panel-heading">your Details</div>
                    {% for d in data1 %}
                    <div class="panel-body">
                        <div class="col-md-6 col-xs-12">
                            <strong>Name:</strong>
                            <p>{{d.user_name}} </p>
                        </div>
                        <hr>
                        <div class="col-md-6 col-xs-12">
                            <strong>Email:</strong>
                            <p>{{d.email}}</p>
                        </div>
                        <hr>
                        <div class="col-md-6 col-xs-12">
                            <strong>Mobile NUMBER:</strong>
                            <p>{{d.mobile}} </p>
                        </div>
                        <hr>
                        <div class="col-md-6 col-xs-12">
                            <strong>address:</strong>
                            <p>{{d.address}} </p>
                        </div>
                        <hr>
                        <div class="col-md-6 col-xs-12">
                            <strong>District:</strong>
                            <p>{{d.district}} </p>
                        </div>
                        <hr>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-xl-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Review Order
                    </div>
                    <div class="panel-body">

                        <div class="form-group">
                            <hr />
                        </div>

                        {% for d in data %}
                        <div class="single_service d-flex justify-content-between align-items-center ">
                            <div class="service_inner d-flex align-items-center">
                                <div class="thumb">
                                    <img src="media/{{d.service_id.image}}" alt="*"
                                        class="img-thumbnail" style="margin-bottom:5px;">
                                </div>
                                <span>{{d.service_id.name_of_service}}</span>

                            </div>
                            <p>@Rs--{{d.service_id.price}}
                            </p>
                        </div>
                        <hr>

                        {% endfor %}
                        {% if flashP == 'yes' %}
                        <span class="text-primary">Saya wallet money offer:-</span>
                        <br>
                        <span class="text-success">On cross of thershold of wallet cash 200 </span>

                        <span class="text-success"> this order( only charge 70% + 1 of net amount)</span>
                        <br>
                        <span class="text-warning">After succesfull transaction your sah money wallet is 0</span>
                        {% endif %}
                        <div class="form-group">
                            <div class="col-xs-12">
                                <strong>Subtotal</strong>
                                <div class="pull-right"><span>RS.</span><span>{{totalprice}}</span></div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <strong>Pay later</strong>
                                <div class="pull-right"><span>RS.</span><span>{{paylater}}</span></div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <strong>Pay now</strong>
                                <div class="pull-right"><span>RS.</span><span>{{paynow}}</span></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <a href="/payu_checkout">
                                <button class="btn btn-outline-primary">
                                    pay Now
                                </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}

{% block modal %}
<!-- service_area_end -->

{% endblock %}



{% block script %}

<script>
    // $(document).ready(function () {


    function btnSubmit(clicked_id) {
        $.ajax({
            type: 'POST',
            url: "{% url 'cartlistr' %}",
            data: {
                "id": clicked_id,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            success: function (response) {
                $('#cartlist').empty();
                var tempo = '';
                tempo += '<a href="/placeorder">';
                tempo += '<button type="button" class="btn btn-outline-warning">';
                tempo += 'Place order';
                tempo += ' </button>';
                tempo += '</a>';
                $('#cartlist').append(tempo);
                for (var key in response.data) {
                    var temp = '';
                    temp += '<div class="single_service d-flex justify-content-between align-items-center">'
                    temp += '<div class="service_inner d-flex align-items-center">'
                    temp += '<div class="thumb">'
                    temp += '<img src="media/' + response.data[key].service_id__image + '" alt="*" class="img-thumbnail">'
                    temp += ' </div>'
                    temp += '<span>' + response.data[key].service_id__name_of_service + '</span>'
                    temp += '<p>-@Rs--' + response.data[key].service_id__price + '</p>'
                    temp += '</div>'
                    temp += '<button type="button" id="' + response.data[key].temp_id + '" onClick="btnRemove(this.id)" class="btn btn-outline-danger">'
                    temp += 'Remove'
                    temp += '</button>'
                    temp += '</div>'
                    $('#cartlist').append(temp);
                }
            },
            error: function (response) {
                alert("no data")
            }
        });
    };
    // });
</script>
<script>
    function btnRemove(clicked_id) {
        $.ajax({
            type: 'POST',
            url: "{% url 'cartlistrRemove' %}",
            data: {
                "id": clicked_id,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            success: function (response) {
                $('#cartlist').empty();
                var tempo = '';
                tempo += '<a href="/placeorder">';
                tempo += '<button type="button" class="btn btn-outline-warning">';
                tempo += 'Place order ';
                tempo += ' </button>';
                tempo += '</a>';
                $('#cartlist').append(tempo);
                for (var key in response.data) {
                    var temp = '';
                    temp += '<div class="single_service d-flex justify-content-between align-items-center">'
                    temp += '<div class="service_inner d-flex align-items-center">'
                    temp += '<div class="thumb">'
                    temp += '<img src="media/' + response.data[key].service_id__image + '" alt="*" class="img-thumbnail">'
                    temp += ' </div>'
                    temp += '<span>' + response.data[key].service_id__name_of_service + '</span>'
                    temp += '<p>-@Rs--' + response.data[key].service_id__price + '</p>'
                    temp += '</div>'
                    temp += '<button type="button" id="' + response.data[key].temp_id + '" onClick="btnRemove(this.id)" class="btn btn-outline-danger">'
                    temp += 'Remove'
                    temp += '</button>'
                    temp += '</div>'
                    $('#cartlist').append(temp);
                }
            },
            error: function (response) {
                alert("no data")
            }
        });
    };
// });
</script>

{% endblock %}