{% extends 'Ubase.html' %}
{% load static %}
{% block body %}
<div class="service_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">

            </div>
        </div>

        <div class="white_bg_pos">
            <div class="row">

                <div class="col-xl-12">
                    <div class="row">
                        <form class="form-inline my-2 my-lg-0">
                            <a href="/salon">
                                <button type="button" class="btn btn-outline-success">
                                    Salon
                                </button>
                            </a>
                        </form>
                        {% if request.session.Pincode == None %}
                        <form action="pinset" method="post">
                            {% csrf_token%}
                            <div class="form-inline my-2 my-lg-0" style="padding-top: 16px;padding-left: 5px;">
                                <div class="input-group mb-3">
                                    <input type="number" min="0"  class="form-control" placeholder="Set Area Pincode filter"
                                        name="Pincode" onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Set Area Pincode filter'">
                                    <div class="input-group-append">
                                        <button class="btn" type="submit">SET</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        {% else %}
                        <form action="pinset" method="get">
                            {% csrf_token%}
                            <div class="form-inline my-2 my-lg-0" style="padding-top: 16px;padding-left: 5px;">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Set Area Pincode filter"
                                        name="Pincode" onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Set Area Pincode filter'"
                                        value="{{request.session.Pincode}}">
                                    <div class="input-group-append">
                                        <a href="/pinset"> <button class="btn">UNSET</button> </a>
                                    </div>
                                </div>
                            </div>
                        </form>
                        {% endif %}
                    </div>

                    <hr>
                    {% if request.session.user_email != None %}
                    <button type="button" id="5" onClick="btnSubmit(this.id)" class="btn btn-outline-warning">
                        5
                        <i class="fa fa-star-o"></i>
                    </button>
                    <button type="button" id="4" onClick="btnSubmit(this.id)" class="btn btn-outline-warning">
                        4
                        <i class="fa fa-star-o"></i>
                    </button>
                    <button type="button" id="3" onClick="btnSubmit(this.id)" class="btn btn-outline-warning">
                        3
                        <i class="fa fa-star-o"></i>
                    </button>
                    <button type="button" id="2" onClick="btnSubmit(this.id)" class="btn btn-outline-warning">
                        2
                        <i class="fa fa-star-o"></i>
                    </button>
                    {% endif %}
                    {% if request.session.salon_type != 'Male' %}
                    <a href="type_salon?id=Male">
                        <button type="button" class="btn btn-outline-dark">
                            M <i class="fa fa-male"></i>
                        </button>
                    </a>
                    {% else %}
                    <button type="button" class="btn btn-dark">
                        M <i class="fa fa-male"></i>
                    </button>
                    {% endif %}
                    {% if request.session.salon_type != 'Female' %}
                    <a href="type_salon?id=Female">
                        <button type="button" class="btn btn-outline-danger">
                            F<i class="fa fa-female"></i>

                        </button>
                    </a>
                    {% else %}
                    <button type="button" class="btn btn-danger">
                        F<i class="fa fa-female"></i>

                    </button>
                    {% endif %}

                    {% if request.session.salon_type != 'MehArt' %}
                    <a href="type_salon?id=MehArt">
                        <button type="button" class="btn btn-outline-primary">
                            Mehendi Artist

                        </button>
                    </a>
                    {% else %}
                    <button type="button" class="btn btn-primary">
                        Mehendi Artist

                    </button>
                    {% endif %}


                    <div id="display1">
                        {% for d in data %}
                        <a href="getservice?id={{d.service_provider_id}}">
                            <div
                                class="single_service d-flex justify-content-between align-items-center btn btn-outline-dark row">
                                <div class="service_inner d-flex align-items-center col-md-4">
                                    <div class="thumb">
                                        <img src="media/{{d.image}}" alt="No Profile" class="img-thumbnail">
                                    </div>
                                    <div class="p-rating col-md-3">

                                        {% if d.rating == 0 %}
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        {% endif %}
                                        {% if d.rating == 1 %}
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        {% endif %}
                                        {% if d.rating == 2 %}
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        {% endif %}
                                        {% if d.rating == 3 %}
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        {% endif %}
                                        {% if d.rating == 4 %}
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        {% endif %}
                                        {% if d.rating == 5 %}
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        {% endif %}

                                    </div>
                                </div>
                                <h4 class="text-truncate"
                                    style="border: none; text-decoration:underline;overflow: hidden; max-width: 40ch;">
                                    <abbr title="{{d.shopname}}">{{d.shopname}}</abbr></h4>
                                <div class="col-md-3">
                                    <p><small>{{d.name}}</small></p>
                                </div>
                            </div>
                        </a>
                        {% empty %}

                        <p class="h3 mb-3 font-weight-normal mt-2 text-dark">
                            keep waiting we start srevices in your area soon.
                            <br></p>
                        <p class="h4 mb-3 font-weight-normal mt-2 text-success">
                            Connected with us......
                        </p>
                        {% endfor %}

                    </div>
                </div>

                <div class="col-xl-12">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- service_area_end -->

{% endblock%}



{% block script %}

<script>
    // $(document).ready(function () {
    function btnSubmit(clicked_id) {
        $.ajax({
            type: 'GET',
            url: "{% url 'rating' %}",
            data: {
                id: clicked_id
            },
            success: function (response) {
                $('#display1').empty();
                for (var key in response.data) {
                    var temp = '';
                    temp += '<a href="getservice?id=' + response.data[key].service_provider_id + '">';
                    temp += '<div class="single_service d-flex justify-content-between align-items-center btn btn-outline-dark row">'
                    temp += '<div class="service_inner d-flex align-items-center col-md-4">'
                    temp += '<div class="thumb">'
                    temp += '<img src="media/' + response.data[key].image + '" alt="No Profile" class="img-thumbnail">'
                    temp += ' </div>'
                    temp += ' <div class="p-rating col-md-3">'
                    var i;
                    for (i = 0; i <= 4; i++) {
                        if (response.data[key].rating <= 0)
                            temp += '<i class="fa fa-star-o"></i>';
                        else
                            temp += '<i class="fa fa-star"></i>';
                        response.data[key].rating -= 1;
                    }
                    temp += '</div>'
                    temp += '</div>'
                    temp += '<h4 class="text-truncate" style="border: none; text-decoration:underline;overflow: hidden; max-width: 40ch;"><abbr title="{{d.shopname}}">' + response.data[key].shopname + '</abbr></h4>'
                    temp += '<div class="col-md-3">'

                    temp += '<p><small>' + response.data[key].name + '</small></p>'
                    temp += '</div>'

                    temp += '</div>'
                    $('#display1').append(temp);
                }
            },
            error: function (response) {
                alert("no salon for this rating ")
            }
        });
    };
    // });
</script>

{% endblock %}