{% extends 'Ubase.html' %}
{% load static %}
{% block body %}
<div class="service_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">

            </div>
        </div>
        <div class="white_bg_pos">
                <div class="row">
                        <div class="col-xl-12">

                            <div class="single_service d-flex justify-content-between align-items-center">
                                <div class="service_inner d-flex align-items-center">
                                    <div class="thumb">

                                    </div>
                                    <span>Total sah money</span>
                                </div>
                                <p>Saya Cash--- {{wallet_cash}}</p>
                            </div>
                        </div>
                        <div class="col-xl-12">
                                <div class="book_btn text-center">
                                    <a class="boxed-btn3 " href="/salon">spend now </a>
                                </div>
                        </div>
                        <div class="col-xl-12">

                            <div class="single_service d-flex justify-content-between align-items-center">
                                <div class="service_inner d-flex align-items-center">
                                    <span>How saya Money use:</span>
                                </div>
                                
                            </div>
                            <p>When saya cash reach thershold of wallet cash 200 on next order you have to only pay 70% + 1 of total amount.
                                then again wallet wallet money satrted.<br>
                            Tip:- When saya cash cross 199 that time to order something great. </p>
                        </div>
                    </div>
        </div>
    </div>
</div>
{% endblock %}